// Variables
$bg-color-primary: #102133;
$table-bg: #00152D;
$primary-color: #FFD700;
$primary-text: #87FBFF;
$bg-color-second: #1E1E1E;
$textbox-white: #F2EFEF;
$button-hover: linear-gradient(90deg, rgba(255, 215, 0, 1) 0%, rgba(219, 184, 0, 1) 10%, rgba(135, 251, 255, 1) 100%);
