@import "../../_variables.scss";

.table-container {
  border-radius: 10px;
  height: fit-content;
  overflow: clip;
  margin-bottom: 50px;

  table {
    margin-bottom: 0;
    font-size: 36px;

    tr {
      border: none;
    }

    td {
      color: white !important;
      border: none;
    }

    th {
      color: white !important;
      border-bottom: 7px solid $bg-color-primary;
    }
  }
}
