@import "../../_variables.scss";

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-primary;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.75rem;
  background-color: $bg-color-second;
}

.color{
  color: $primary-text;
}

.white{
  color: $textbox-white;
}

.btn-color{
  background-color: $primary-color;
  color: black;
}
