@import "../../_variables.scss";

.navbar {
  background-color: $bg-color-primary;

  a {
    color: white !important;
    font-weight: bold;
    font-size: 36px;
    width: 176px;
    text-align: center;
  }
}
